<a href="https://colab.research.google.com/github/ravikanth4321/Ravikanth43/blob/main/Copy_of_data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.Difference between the list and tuple?

In [ ]:
marks =  [19, 26, 23]
print(marks)

[19, 26, 23]

In [ ]:
Tuple = ("ravi", "raju", "mari")
print(Tuple)

('ravi', 'raju', 'mari')

## 2.How list is different from an array

In [ ]:
from array import array
my_array = array('B', [1, 2, 3])
print(my_array)
my_array.append(5)
print(my_array)

array('B', [1, 2, 3])
array('B', [1, 2, 3, 5])

## 3. Use the python list append(),copy(), clear, count, extends(), index(), insert(), pop(), reverse(), sort(), min(), max(),and sum()

In [ ]:
my_list = [3, 1, 4, 1, 5]
my_list.append(8)
print("After append(8):", my_list)

After append(8): [3, 1, 4, 1, 5, 8]

In [ ]:
my_list = [3, 1, 4, 1, 5]
copied_list = my_list.copy()
print("Copied list:", copied_list)

Copied list: [3, 1, 4, 1, 5]

In [ ]:
my_list = [3, 1, 4, 1, 5]
my_list.clear()
print("After clear():", my_list)

After clear(): []

In [ ]:
my_list = [3, 1, 4, 1, 5]
my_list.extend([1, 2, 3])
print("After extend([1, 2, 3]):", my_list)

After extend([1, 2, 3]): [3, 1, 4, 1, 5, 1, 2, 3]

In [ ]:
my_list = [3, 1, 4, 1, 5]
index_of_4 = my_list.index(4)
print("Index of 4:", index_of_4)

Index of 4: 2

In [ ]:
my_list = [3, 1, 4, 1, 5]
my_list.insert(1, 7)
print("After insert(1, 7):", my_list)

After insert(1, 7): [3, 7, 1, 4, 1, 5]

In [ ]:
my_list = [3, 1, 4, 1, 5]
popped_element = my_list.pop(3)
print("Popped element at index 3:", popped_element)
print("After pop(3):", my_list)

Popped element at index 3: 1
After pop(3): [3, 1, 4, 5]

In [ ]:
my_list = [3, 1, 4, 1, 5]
my_list.reverse()
print("After reverse():", my_list)

After reverse(): [5, 1, 4, 1, 3]

In [ ]:
my_list = [3, 1, 4, 1, 5]
my_list.sort()
print("After sort():", my_list)

After sort(): [1, 1, 3, 4, 5]

In [ ]:
my_list = [3, 1, 4, 1, 5]
minimum_value = min(my_list)
print("Minimum value:", minimum_value)

Minimum value: 1

In [ ]:
my_list = [3, 1, 4, 1, 5]
maximum_value = max(my_list)
print("Maximum value:", maximum_value)

Maximum value: 5

In [ ]:
my_list = [3, 1, 4, 1, 5]
sum_of_elements = sum(my_list)
print("Sum of elements:", sum_of_elements)

Sum of elements: 14

## 4, How would you divide the list into two parts?

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
midpoint = len(my_list) // 2
first_part = my_list[:midpoint]
second_part = my_list[midpoint:]
print("Original List:", my_list)
print("First Part:", first_part)
print("Second Part:", second_part)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
First Part: [1, 2, 3, 4, 5]
Second Part: [6, 7, 8, 9, 10]

## 5. how to filter the multiple of 3 from a given list and them remove the odd number from the new filtered list.
Eg A = [1,2,3,4,5,6,7,8,9,21,23,24]
Filter_lsit = [3,6,9,21,24]
output_list = [6,24]

In [ ]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
multiples_of_3 = [num for num in list if num % 3 == 0]
filtered_list = [num for num in multiples_of_3 if num % 2 == 0]
print("Original List:", list)
print("Multiples of 3:", multiples_of_3)
print("Filtered List (even multiples of 3):", filtered_list)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Multiples of 3: [3, 6, 9]
Filtered List (even multiples of 3): [6]

## 6. How you can access keys and values simultaneously and update its value

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
for key, value in my_dict.items():
    print("Key:", key, "| Value:", value)
target_key = 'b'
new_value = 10
my_dict[target_key] = new_value
print("\n Updated Dictionary:")
for key, value in my_dict.items():
    print("Key:", key, "| Value:", value)

Key: a | Value: 1
Key: b | Value: 2
Key: c | Value: 3
Key: d | Value: 4

 Updated Dictionary:
Key: a | Value: 1
Key: b | Value: 10
Key: c | Value: 3
Key: d | Value: 4

## 7. Write python program to join, merge, concatente the two dictionaries..

In [ ]:
dict1 = {'A': 1, 'B': 4, 'C': 3}
dict2 = {'D': 2, 'E': 5, 'F': 5}
merged_dict = dict1.copy()
merged_dict.update(dict2)
concatenated_dict = {**dict1, **dict2}
print("Org dict 1:", dict1)
print("Org dict 2:", dict2)
print("Merged dict:", merged_dict)
print("Concatenated dict:", concatenated_dict)

Org dict 1: {'A': 1, 'B': 4, 'C': 3}
Org dict 2: {'D': 2, 'E': 5, 'F': 5}
Merged dict: {'A': 1, 'B': 4, 'C': 3, 'D': 2, 'E': 5, 'F': 5}
Concatenated dict: {'A': 1, 'B': 4, 'C': 3, 'D': 2, 'E': 5, 'F': 5}

## 8. How would you check a specific keys from the dictionary??

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
keys_to_check = ['b', 'e']
for key in keys_to_check:
    value = my_dict.get(key)
    if value is not None:
        print(f"{key} exists dictionary with the value: {value}")
    else:
        print(f"{key} does not exist in the dictionary")

b exists dictionary with the value: 2
e does not exist in the dictionary

## 9. write a python program to find the unique vowel present in the sentence

In [ ]:
input_sentence = input("Enter a word: ")
unique_vowels = sorted(set(char for char in input_sentence.lower() if char in "aeiou"))
print("Unique vowels in the word:", unique_vowels)

Enter a word: ravi
Unique vowels in the word: ['a', 'i']

## 10. We know that tuple is immutable, do any thing and add element to the tuples.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
repeated_tuple1 = tuple1 * 2
new_tuple = tuple1 + (4, 5)
print(concatenated_tuple)
print(repeated_tuple1)
print(new_tuple)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3)
(1, 2, 3, 4, 5)

## 11. How would you sum the list of tuple and sum of tuple of list
list  = [(2,3),(4,5),(6,4)]
output= [5,9,10]

tuple  =([2,3],[4,5],[6,4])
output  =  (5,9,10)

In [ ]:
list_of_tuples = [(1, 2), (3, 4), (5, 6)]
sum_of_list_of_tuples = tuple(map(sum, zip(*list_of_tuples)))
print("Sum of List of Tuples:", sum_of_list_of_tuples)

Sum of List of Tuples: (9, 12)

In [ ]:
tuple_of_lists = ([1, 2, 3], [4, 5, 6], [7, 8, 9])
sum_of_tuple_of_lists = [sum(x) for x in zip(*tuple_of_lists)]
print("Sum of Tuple of Lists:", sum_of_tuple_of_lists)

Sum of Tuple of Lists: [12, 15, 18]

## 12. FIND THE FREQUENCY OF THE KEYS IN THE GIVEN DICTIONARY

In [ ]:
from collections import Counter
my_dict = {'a': 1, 'b': 4, 'c': 3, 'a': 2, 'b': 5, 'a': 5}
key_frequency = Counter(my_dict)
for key, frequency in key_frequency.items():
    print(f"The key '{key}' appears {frequency} times in the dict.")

The key 'a' appears 5 times in the dict.
The key 'b' appears 5 times in the dict.
The key 'c' appears 3 times in the dict.